/*
** MIT License
**
** Copyright(c) 2021 Alec Musasa
**
** Permission is hereby granted, free of charge, to any person obtaining a copy
** of this softwareand associated documentation files(the "Software"), to deal
** in the Software without restriction, including without limitation the rights
** to use, copy, modify, merge, publish, distribute, sublicense, and /or sell
** copies of the Software, and to permit persons to whom the Software is
** furnished to do so, subject to the following conditions :
**
** The above copyright noticeand this permission notice shall be included in all
** copies or substantial portions of the Software.
**
** THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
** IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
** FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.IN NO EVENT SHALL THE
** AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
** LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
** OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
** SOFTWARE.
*/

#pragma once

#include "resource.h"

ico_resource		ICON	"resources/ico/icon.ico"
icon_png_32			PNG		"resources/png/icon_32.png"
icon_png_64			PNG		"resources/png/icon_64.png"
icon_png_256		PNG		"resources/png/icon_256.png"
icon_png_512		PNG		"resources/png/icon_512.png"
splash_image_128	PNG		"resources/png/splash_128.png"
splash_image_256	PNG		"resources/png/splash_256.png"

png_error			PNG		"resources/png/error.png"
png_settings		PNG		"resources/png/settings.png"
png_back_light		PNG		"resources/png/back_light.png"
png_back_dark		PNG		"resources/png/back_dark.png"
png_help			PNG		"resources/png/info.png"
png_updates			PNG		"resources/png/updates.png"		// dmitri13
png_user			PNG		"resources/png/user.png"		// Freepik
png_new_session		PNG		"resources/png/add.png"			// Good Ware
png_join_session	PNG		"resources/png/team.png"		// Freepik
png_delete			PNG		"resources/png/delete.png"		// Good Ware
png_send			PNG		"resources/png/send.png"		// Freepik, modified
png_chat			PNG		"resources/png/chat.png"		// Freepik
png_files			PNG		"resources/png/files.png"		// Freepik
png_tasks			PNG		"resources/png/tasks.png"		// Freepik
png_pdf				PNG		"resources/png/pdf.png"			// Dimitry Miroliubov
png_png				PNG		"resources/png/png.png"			// Dimitry Miroliubov
png_jpg				PNG		"resources/png/jpg.png"			// Dimitry Miroliubov
png_bmp				PNG		"resources/png/bmp.png"			// Dimitry Miroliubov
png_gif				PNG		"resources/png/gif.png"			// Dimitry Miroliubov
png_psd				PNG		"resources/png/psd.png"			// Dimitry Miroliubov
png_doc				PNG		"resources/png/doc.png"			// Dimitry Miroliubov
png_xls				PNG		"resources/png/xls.png"			// Dimitry Miroliubov
png_ppt				PNG		"resources/png/ppt.png"			// Dimitry Miroliubov
png_txt				PNG		"resources/png/txt.png"			// Dimitry Miroliubov
png_iso				PNG		"resources/png/iso.png"			// Dimitry Miroliubov
png_audio			PNG		"resources/png/audio.png"		// Good Ware
png_video			PNG		"resources/png/video.png"		// Good Ware
png_archive			PNG		"resources/png/archive.png"		// Roman Kacerek
png_executable		PNG		"resources/png/executable.png"	// Vectorslab
png_file			PNG		"resources/png/file.png"		// berkahicon
png_log				PNG		"resources/png/log.png"			// Freepik
png_open_file		PNG		"resources/png/open_file.png"	// Good Ware
png_save_as			PNG		"resources/png/save_as.png"		// Good Ware
